.addForm {
  padding: 10px;
  border: 1px solid #000;
  border-radius: 10px;
  max-width: 300px;
  margin-bottom: 30px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.input {
  padding: 5px 10px;
}

.submitBtn {
  display: block;
  margin: 0 auto;
}

.error {
  color: rgb(117, 0, 0);
}
